<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.emp.dao.AttendenceMapper">
  <resultMap id="BaseResultMap" type="com.lx.emp.pojo.Attendence">
    <id column="attend_id" jdbcType="INTEGER" property="attendId" />
    <result column="emp_no" jdbcType="VARCHAR" property="empNo" />
    <result column="emp_name" jdbcType="VARCHAR" property="empName" />
    <result column="attend_begin_time" jdbcType="TIMESTAMP" property="attendBeginTime" />
    <result column="attend_end_time" jdbcType="TIMESTAMP" property="attendEndTime" />
  </resultMap>
  <sql id="Base_Column_List">
    attend_id, emp_no, emp_name, attend_begin_time, attend_end_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_attend
    where attend_id = #{attendId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_attend
    where attend_id = #{attendId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lx.emp.pojo.Attendence">
    insert into tb_attend (attend_id, emp_no, emp_name, 
      attend_begin_time, attend_end_time)
    values (#{attendId,jdbcType=INTEGER}, #{empNo,jdbcType=VARCHAR}, #{empName,jdbcType=VARCHAR}, 
      #{attendBeginTime,jdbcType=TIMESTAMP}, #{attendEndTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lx.emp.pojo.Attendence">
    insert into tb_attend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="attendId != null">
        attend_id,
      </if>
      <if test="empNo != null">
        emp_no,
      </if>
      <if test="empName != null">
        emp_name,
      </if>
      <if test="attendBeginTime != null">
        attend_begin_time,
      </if>
      <if test="attendEndTime != null">
        attend_end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="attendId != null">
        #{attendId,jdbcType=INTEGER},
      </if>
      <if test="empNo != null">
        #{empNo,jdbcType=VARCHAR},
      </if>
      <if test="empName != null">
        #{empName,jdbcType=VARCHAR},
      </if>
      <if test="attendBeginTime != null">
        #{attendBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attendEndTime != null">
        #{attendEndTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lx.emp.pojo.Attendence">
    update tb_attend
    <set>
      <if test="empNo != null">
        emp_no = #{empNo,jdbcType=VARCHAR},
      </if>
      <if test="empName != null">
        emp_name = #{empName,jdbcType=VARCHAR},
      </if>
      <if test="attendBeginTime != null">
        attend_begin_time = #{attendBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attendEndTime != null">
        attend_end_time = #{attendEndTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where attend_id = #{attendId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lx.emp.pojo.Attendence">
    update tb_attend
    set emp_no = #{empNo,jdbcType=VARCHAR},
      emp_name = #{empName,jdbcType=VARCHAR},
      attend_begin_time = #{attendBeginTime,jdbcType=TIMESTAMP},
      attend_end_time = #{attendEndTime,jdbcType=TIMESTAMP}
    where attend_id = #{attendId,jdbcType=INTEGER}
  </update>
</mapper>