<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.emp.dao.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.lx.emp.pojo.Department">
    <id column="dept_id" jdbcType="VARCHAR" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="dept_create_time" jdbcType="TIMESTAMP" property="deptCreateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    dept_id, dept_name, dept_create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_dept
    where dept_id = #{deptId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_dept
    where dept_id = #{deptId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lx.emp.pojo.Department">
    insert into tb_dept (dept_id, dept_name, dept_create_time
      )
    values (#{deptId,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{deptCreateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lx.emp.pojo.Department">
    insert into tb_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="deptCreateTime != null">
        dept_create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deptId != null">
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptCreateTime != null">
        #{deptCreateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lx.emp.pojo.Department">
    update tb_dept
    <set>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptCreateTime != null">
        dept_create_time = #{deptCreateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where dept_id = #{deptId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lx.emp.pojo.Department">
    update tb_dept
    set dept_name = #{deptName,jdbcType=VARCHAR},
      dept_create_time = #{deptCreateTime,jdbcType=TIMESTAMP}
    where dept_id = #{deptId,jdbcType=VARCHAR}
  </update>
</mapper>